<h1>
  Welcome to <%= @garage.name %>'s Garage
</h1>

<h2>Vehicles</h2>
<%= render @garage.vehicles %>

<h2>Add a Vehicle:</h2>
<%= render 'vehicles/form' %>



<div class= "links">
<%= link_to 'Edit', edit_garage_path(@garage) %>
<%= link_to 'Back', garages_path %>
</div>
