<h1>
  Welcome to <%= @garage.name %>'s Garage
</h1>

<h2>Vehicles</h2>
<%= render @garage.vehicles %>



<h2>Maintenance Records</h2>

<%= render 'services/form' %>

<div class="show">
<%= link_to "View Service", garage_vehicle_services_path(@garage, @vehicle) %>
<%= link_to 'Edit', garage_vehicle_path(@garage, @vehicle) %>
<%= link_to 'Back', garages_path %>
</div>
